.img-wrapper {
  display: inline-block;
  width: 15%;
  padding: 10px 20px;


}

.lighthouse {
  opacity: 1;
}
.lighthouse:hover {
  opacity: 0.5;
}
.anchor {
  width: 80%;
  padding-left: 30px;
  transition: all 2s;
  transition-timing-function: ease-in-out;


}
.anchor:hover {
    transform: rotate(1080deg);
  }
.compass {
  width: 90%;
  transform-origin: left top;
  transition: transform 1s;

}
.compass:hover {
  transform: rotate(720deg);
}
.wrapper {
  text-align: center;
}
.lighthouse {
  width: 60%;
  padding-left: 20px;
}
.seasnail {
  width: 90%;
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #262262;
}
p{
  font-size: 18px;
  color: #2e3192;
}
.oxygen {
  width: 100%;
  padding-left: 15px;
  transition: all 300ms;
}
.oxygen:hover {
  transform: scale(2);
}
.captainhat {
  transition: transform 1s;
}
.captainhat:hover {
  transform: skewX(-20deg);
}
.ship:hover {
   box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);

}
.diving_suit:hover {
  box-shadow: inset 0 0 0 10px #53a7ea;

}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {  -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.seasnail:hover {
  -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.octopus:hover {
   transform: rotate(90deg) scale(2) translateY(-50%) translateX(50%);
}
