.img-wrapper {
  display: inline-block;
  width: 15%;
  padding: 10px 20px;
}
.hidden {
  display: none;
}
h1 {
  text-transform: uppercase;
}
.wrapper {
  background-color: #A8D0E6;
}
.selected {
  color:green;
  padding-left: 0.5em;
}
.selected:not(.svg-img)::before {
  content: '\2713';
}
.svg-img > * {
  pointer-events: none;

}
.svg-img {
  position: relative;
  cursor: pointer;
}
.svg-img.selected::after {
  content: '\2713';
  font-size: 5em;
  position: absolute;
  top: -15px;
  right: -50px;
  color: green;
}

.lifebuoy:hover {
  -webkit-animation: myLifebuoy 4s linear infinite;
       -moz-animation: myLifebuoy 4s linear infinite;
         -o-animation: myLifebuoy 4s linear infinite;
            animation: myLifebuoy 4s linear infinite;
}
@-webkit-keyframes myLifebuoy {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myLifebuoy {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myLifebuoy {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myLifebuoy {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

.lighthouse {
  opacity: 1;
}
.lighthouse:hover {
  opacity: 0.5;
}
.anchor {
  width: 80%;
  padding-left: 30px;
  transition: all 2s;
  transition-timing-function: ease-in-out;


}
.anchor:hover {
    transform: rotate(1080deg);
  }
.compass {
  width: 90%;
  transform-origin: left top;
  transition: transform 1s;

}
.compass:hover {
  transform: rotate(720deg);
}
.wrapper {
  text-align: center;
}
.lighthouse {
  width: 60%;
  padding-left: 20px;
}
.seasnail {
  width: 90%;
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #262262;
}
p{
  font-size: 18px;
  color: #2e3192;
}
.oxygen {
  width: 100%;
  padding-left: 15px;
  transition: all 300ms;
}
.oxygen:hover {
  transform: scale(2);
}
.captainhat {
  transition: transform 1s;
}
.captainhat:hover {
  transform: skewX(-20deg);
}
.ship:hover {
   box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);

}
.diving_suit:hover {
  box-shadow: inset 0 0 0 10px #53a7ea;

}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {  -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.seasnail:hover {
  -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.octopus:hover {
   transform: rotate(90deg) scale(2) translateY(-50%) translateX(50%);
}
